ErrorDocument 404 /final/404.html

ExpiresByType text/css   A604800
# CSS  expires in 7 days

ExpiresByType application/javascript  A604800
# Javascript expires in 7 days

ExpiresByType image/gif   A604800
# GIF  expires in 7 days

ExpiresByType image/jpeg  A604800
# JPEG expires in 7 days

ExpiresByType image/png   A604800
# PNG  expires in 7 days

AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/javascript
